.accordion {
  background: var(--peach-100);
  border: none;
  border-radius: var(--border-radius-lg);
  margin: 0 0 .5rem 0;

  @include breakpoint-sm {
    border-radius: var(--border-radius-md);
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .heading {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    font-size: 18px;
    font-weight: var(--font-weight-block);
    justify-content: space-between;
    line-height: 32px;
    padding: 1rem 1.5rem;
    width: 100%;

    .icon {
      color: var(--mauve-700);
      margin-left: 1rem;
    }

    span {
      text-align: left;
    }

    @include breakpoint-sm {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .body {
    display: none;
    padding: 0 1.5rem 1rem 1.5rem;

    a {
      color: var(--mauve-700);
    }

    ol {
      margin: 0;
      padding: 1rem 0 0 1.25rem;

      li {
        margin-bottom: .5rem;
      }
    }
  }

  &.open {
    .body {
      display: block;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
