.based-in-europe {
  align-items: center;
  display: flex;

  .flag {
    height: 1.25rem;

    &.dark {
      display: none;
    }
  }

  p {
    font-size: 10px;
    line-height: 10px;
    margin: 0 0 0 .5rem;
    width: 3rem;

    .icon {
      color: var(--rose-500);
      vertical-align: middle;
    }
  }
}
