.blog-body {
  max-width: 784px;
  padding: 4rem 2rem;

  @include breakpoint-sm {
    margin-top: 12.5rem;
  }

  .covering {
    background: var(--peach-200);
    border-radius: var(--border-radius-lg);
    margin: 0 0 2rem 0;
    padding: 2rem;

    p {
      align-items: center;
      display: flex;
      margin: 0 0 1rem 0;

      .icon {
        color: var(--mauve-700);
        font-size: 1.25rem;
        margin: 0 .5rem 0 0;
      }
    }

    ul {
      color: var(--mauve-700);
      margin: 0;
      padding: 0 0 0 1.5rem;

      a {
        color: var(--mauve-700);
      }
    }

    & + * {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 4rem 0 1.5rem 0;

    &:before {
      display: block;
      content: ' ';
      height: 140px;
      margin: -140px 0 0 0;
      pointer-events: none;
      visibility: hidden;
    }

    a {
      color: var(--gray-blue-800);
      text-decoration: none;
    }
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin: 4rem 0 1rem 0;
  }

  h4 {
    margin: 4rem 0 1rem 0;
  }

  h3 + h4 {
    margin-top: 2rem;
  }

  ul, ol {
    margin: 2rem 0;
    padding: 0 0 0 1.5rem;

    ul, ol {
      margin: 0;
    }
  }

  p, li {
    font-size: 18px;
    font-weight: var(--font-weight-normal);
    line-height: 32px;
  }

  a:not(.button) {
    color: var(--mauve-700);
  }

  a.button {
    display: inline-block;
  }

  hr {
    margin: 5rem 0;
  }

  figure {
    margin: 0 0 3rem 0;
    padding: 0;

    img {
      border-radius: var(--border-radius-lg);
      box-shadow: var(--box-shadow-xl);
      display: block;
      height: auto !important;
      width: 100% !important;

      @include breakpoint-md {
        border-radius: var(--border-radius-md);
      }

      &.vertical {
        height: 100% !important;
        margin: 0 auto;
        width: auto !important;
      }
    }

    figcaption {
      margin: 1rem 0 0 0;
      text-align: center;
    }
  }

  blockquote {
    border-left: 2px solid var(--mauve-700);
    margin: 1.5rem 0;
    padding: 0 0 0 1.5rem;

    p {
      margin: 0;
    }
  }

  .embed {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 0 1.5rem 0;
  }

  code {
    background: var(--peach-200);
    color: var(--rose-500);
    display: inline-block;
    padding: .05rem .25rem;
  
    &.block {
      background: var(--white);
      border-radius: var(--border-radius-md);
      box-shadow: var(--box-shadow-md);
      margin: 0 0 1.5rem 0;
      overflow: hidden;
      padding: 0;
      width: 100%;
  
      &.simple {
        padding: 1rem;
      }
    }
  }

  pre.code.block {
    display: block;
    margin: 1.5rem 0;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      background: none;
      color: var(--peach-100);
      display: block;
      padding: 0;
    }
  }
  
  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .info {
    background: var(--peach-200);
    border-radius: var(--border-radius-lg);
    color: var(--gray-blue-700);
    display: flex;
    margin: 0 0 4rem;
    padding: 2rem;

    .icon {
      color: var(--mauve-700);
      flex-shrink: 0;
      font-size: 1.25rem;
      margin: 0.35rem 0.75rem 0 0;
    }

    p {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 2rem;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}
