.carousel {
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;

  .slide {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 3rem 0;
    transition: transform .5s cubic-bezier(.46,.03,.52,.96);
    white-space: nowrap;

    .item {
      border-radius: var(--border-radius-lg);
      box-shadow: var(--box-shadow-xl);
      font-size: 0;
      flex-shrink: 0;
      margin: 1rem;
      overflow: hidden;
      pointer-events: none;
      width: calc(100% - 2rem);

      @include breakpoint-sm {
        border-radius: var(--border-radius-md);
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .indicator {
    align-items: center;
    display: flex;
    justify-content: center;

    .button {
      background: var(--gray-150);
      border: none;
      height: .25rem;
      margin: 0 .5rem 0 0;
      width: 2rem;

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        background: var(--blue-500);
      }
    }
  }
}
