.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 1.5rem;

  input {
    display: none;

    &:checked + .check {
      background: var(--blue-500);
      border-color: var(--blue-500);

      i {
        display: block;
      }
    }

    &:disabled + .check {
      opacity: .25;
    }
  }

  &.tertiary,
  &.rose {
    input {
      &:checked + .check {
        background: var(--rose-500);
        border-color: var(--rose-500);
      }
    }
  }

  &.purple {
    input {
      &:checked + .check {
        background: var(--purple-500);
        border-color: var(--purple-500);
      }
    }
  }

  &.gray {
    input {
      &:checked + .check {
        background: var(--gray-500);
        border-color: var(--gray-500);
      }
    }
  }

  .check {
    align-items: center;
    background: var(--white);
    border: 1px solid var(--gray-200);
    border-radius: var(--border-radius-sm);
    display: flex;
    height: 1.5rem;
    flex-shrink: 0;
    justify-content: center;
    margin-right: .75rem;
    width: 1.5rem;

    i {
      color: var(--white);
      display: none;
      font-weight: var(--font-weight-bold);
    }
  }

  &.label {
    font-weight: var(--font-weight-normal);
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  &:hover {
    .check {
      border-color: var(--blue-500);
    }
  }

  &:focus-visible {
    outline: none !important;

    .check {
      outline: 2px dashed var(--body-color);
      outline-offset: 2px;
    }
  }

  & + .validation {
    color: var(--rose-500);
    font-size: 13px;
    line-height: 20px;
    display: none;
    margin: .5rem 0 1.5rem;
  }

  &.invalid {
    border-color: var(--rose-500);
    margin-bottom: 0;

    & + .validation {
      display: block;
    }

    .check { 
      border-color: var(--rose-500);
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.partial {
    .check {
      background: var(--blue-500);
      border-color: var(--blue-500);
      
      i {
        display: block;
      }
    }
  }
}

.checkbox-group {
  .checkbox.label {
    margin-bottom: .5rem;
  }  
}
