.code {
  background: var(--gray-100);
  color: var(--rose-500);
  display: inline-block;
  padding: .05rem .25rem;

  @include breakpoint-md {
    font-size: 13px;
    line-height: 20px;
  }

  &.block {
    background: var(--white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-md);
    margin: 0 0 1.5rem 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    @include breakpoint-md {
      code {
        font-size: 13px;
        line-height: 20px;
      }
    }

    &.simple {
      padding: 1rem;
    }
  }
}
