.contact-form {
  background-color: var(--mauve-700);
  background-image: url('../../../public/backgrounds/contact-1.svg');
  background-position: top 6rem left;
  background-repeat: repeat-x;
  padding: 0 2rem 8rem 2rem;
  position: relative;

  &::before {
    background: var(--peach-100);
    content: '';
    height: 6rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .card {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
    position: relative;

    @include breakpoint-sm {
      grid-template-columns: 1fr;
      padding: 2rem;
    }

    aside {
      h3 {
        margin: 0 0 2rem 0;
      }

      p {
        margin: 0 0 2rem 0;

        &:last-of-type {
          margin: 0;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          font-weight: var(--font-weight-block);
          list-style: none;
          margin: 0 0 1rem 0;
          padding: 0 0 0 1.5rem;
          position: relative;

          .icon {
            color: var(--mauve-700);
            left: 0;
            position: absolute;
            top: .125rem;
            vertical-align: middle;
          }
        }
      }
    }

    .submitted {
      align-items: center;
      background: var(--gray-blue-50);
      border-radius: var(--border-radius-lg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 7rem 3rem;
      text-align: center;

      .icon {
        color: var(--gray-blue-500);
        font-size: 2.5rem;
      }

      h4 {
        margin: 2rem 0 1rem 0;
      }

      p {
        color: var(--gray-blue-700);
        margin: 0;
      }
    }

    .label {
      justify-content: flex-start;

      i {
        color: var(--gray-blue-300);
        font-weight: var(--font-weight-normal);
        margin: 0 0 0 .25rem;
      }


      @include breakpoint-sm {
        align-items: flex-start;
        flex-direction: column;

        i {
          margin: .25rem 0 0 0;
        }
      }

      & + p {
        color: var(--gray-500);
        margin-bottom: .75rem;
      }
    }

    .input-group {
      display: flex;
      justify-content: space-between;

      fieldset {
        border: none;
        flex: 1;
        margin: 0;
        padding: 0;

        &:first-of-type {
          margin-right: 2rem;
        }
      }

      @include breakpoint-sm {
        display: block;

        fieldset {
          &:first-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
