.cta {
  &.cross-mauve {
    background-color: var(--mauve-700);
    background-image: url('../../../public/backgrounds/cta-crosses-mauve.svg');
    border: 2rem solid var(--mauve-700);
    padding: 6rem 0;
    text-align: center;

    h2 {
      color: var(--white);
      margin: 0 0 3rem 0;
    }

    p {
      color: var(--peach-100);
      margin: 0 auto 3rem auto;
      max-width: 33rem;
    }

    .button {
      margin: 0 auto;
    }
  }

  &.cross-white {
    background-color: var(--white);
    background-image: url('../../../public/backgrounds/cta-crosses-light-blue.svg');
    border: 2rem solid var(--white);
    padding: 6rem 0;
    text-align: center;

    h2 {
      color: var(--gray-blue-800);
      margin: 0 0 3rem 0;
    }

    .button {
      margin: 0 auto;
    }
  }

  &.squiggle {
    background-color: var(--gray-blue-800);
    background-image: url('../../../public/backgrounds/cta-squiggles.svg');
    border-radius: var(--border-radius-lg);
    padding: 6rem 0;
    text-align: center;

    h3 {
      color: var(--white);
      margin: 0 auto 3rem auto;
      max-width: 27rem;
      text-align: center;
    }

    .button {
      margin: 0 auto;
    }
  }
}
