.server-error {
  align-items: center;
  display: flex;
  height: calc(100% - 11rem);
  justify-content: center;
  padding: 3rem 0 4rem 0;
  width: 100%;

  .container {
    border-radius: var(--border-radius-md);
    padding: 2rem;
    text-align: center;
    padding: 0;

    h2 {
      margin: 4rem 0 2rem 0;
    }

    p {
      margin: 0 0 3rem 0;
    }
  }
}
