.features-banner {
  align-items: center;
  background: var(--gray-blue-800);
  border-radius: var(--border-radius-lg);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  p {
    color: var(--white);
    margin: 0 2rem 0 0;
  }
  
  @include breakpoint-sm {
    align-items: flex-start;
    flex-direction: column;

    .button {
      margin: 1.5rem 0 0 0;
      text-align: center;
      width: 100%;
    }
  }
}
