.flag {
  border-radius: var(--border-radius-x-sm);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 1rem;
  overflow: hidden;
  margin: 0 .5rem 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;

  span {
    display: block;
  }
}
