.header {
  align-items: center;
  background: var(--gray-100);
  display: flex;
  flex-shrink: 0;
  height: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 1;

  &.transparent {
    background: transparent;
  }

  .logo {
    margin-bottom: -.5rem;

    img, svg {
      display: block;
    }
  }
}
