.header {
  align-items: center;
  background: var(--peach-100);
  display: flex;
  flex-shrink: 0;
  height: 6rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  transition: background .3s ease-in-out;
  width: 100%;
  z-index: 2;

  @include breakpoint-sm {
    height: 5rem;
  }

  &.scrolled {
    background: var(--white);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

    &.sub-menu-open {
      background: var(--peach-100);

      @include breakpoint-sm {
        background: var(--white);
      }
    }
  }

  &.open {
    background: var(--white);
    transition: none;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: block;
    transform: translateY(.75rem);
  }

  menu {
    align-items: center;
    display: flex;

    &.small {
      display: none;
    }

    .link {
      color: var(--gray-blue-700);
      font-size: 16px;
      font-weight: var(--font-weight-block);
      line-height: 24px;
      margin: 0 2rem 0 0;
      text-decoration: none;
      white-space: nowrap;

      span {
        border-bottom: 2px solid transparent;
      }

      &:hover span,
      &.active span {
        border-bottom: 2px solid var(--rose-500);
      }

      &.menu {
        align-items: center;
        display: flex;

        .arrow {
          font-size: 20px;
          margin: 0 0 0 .25rem;
        }
      }

      &.open {
        .arrow {
          transform: rotate(180deg);
        }
      }
    }

    .dropdown .link {
      align-items: center;
      display: flex;
      white-space: nowrap;

      .arrow {
        font-size: 20px;
        margin: 0 0 0 .25rem;
      }
    }

    .primary,
    .secondary {
      white-space: nowrap;
    }

    .secondary {
      margin-left: 1rem;
    }

    .auth {
      display: none;

      @include breakpoint-md {
        display: inline-block;
      }
    }

    .hamburger {
      align-items: center;
      background: transparent;
      border: none;
      color: var(--gray-blue-700);
      display: flex;
      font-size: 1.5rem;
      height: 1.5rem;
      margin: 0 0 0 1.5rem;
      padding: 0;
      width: 1.5rem;
    }

    .based-in-europe {
      margin: 0 0 0 1.5rem;

      @include breakpoint-lg {
        display: none;
      }  

      @include breakpoint-md {
        display: flex;
        margin: 3rem auto 0 auto;
        justify-content: center;
      }
    }

    @include breakpoint-md {
      &.large {
        display: none;
      }

      &.small {
        display: flex;
      }
    }


    @include breakpoint-md {
      & > .primary,
      & > .secondary {
        display: none;
      }
    }
  }

  .menu-drawer {
    background: var(--white);
    height: calc(100% - 6rem);
    left: 0;
    position: fixed;
    top: 6rem;
    width: 100%;

    .actions,
    .social {
      display: none;
    }

    @include breakpoint-md {
      height: calc(100% - 5rem);
      top: 5rem;

      .actions {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;

        .button {
          flex: 1;
          text-align: center;
          white-space: nowrap;
        }
      }

      .social {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1rem 2rem 0 2rem;

        a {
          align-items: center;
          background: var(--gray-100);
          border-radius: var(--border-radius-o);
          color: var(--gray-500);
          display: flex;
          height: 3rem;
          font-size: 1.25rem;
          justify-content: center;
          margin: 0 1rem 0 0;
          text-decoration: none;
          width: 3rem;

          .icon {
            color: var(--gray-500);
          }

          &:last-of-type {
            margin-right: 0;
          }

          &:hover {
            background: var(--gray-150);
          }
        }
      }
    }

    @include breakpoint-x-sm {
      .actions {
        flex-direction: column;

        .secondary {
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  .header-drawer-item {
    border-bottom: 1px solid var(--gray-blue-50);

    .button {
      align-items: center;
      background: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      width: 100%;

      .icon {
        font-size: 1.5rem;
      }
    }

    &.open {
      .arrow {
        transform: rotate(180deg);
      }

      .links {
        margin-bottom: 1.5rem;

        a {
          color: var(--gray-blue-400);
          display: block;
          padding: .25rem 2rem;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .header-menu {
    animation: header-menu-show 0s forwards;
    animation-delay: .15s;
    background: var(--peach-100);
    box-shadow: 0 1.5rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    padding: 1.5rem 0;
    position: absolute;
    top: 6rem;
    width: 100%;

    &:hover {
      display: block;
    }
  }

  .header-dropdown {
    animation: header-menu-show 0s forwards;
    animation-delay: .15s;
    background: var(--white);
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-md);
    left: -1rem;
    opacity: 0;
    padding: .5rem;
    position: absolute;
    top: calc(100% + 1rem);

    .button:not(.tertiary) {
      align-items: center;
      border-radius: var(--border-radius-md);
      color: var(--gray-blue-500);
      display: flex;
      height: 3rem;
      padding: .5rem 1rem;
      white-space: nowrap;

      &:hover {
        background: var(--peach-50);
        color: var(--mauve-800);
      }
    }

    .button {
      white-space: nowrap;
    }

    .tertiary {
      display: flex;
      justify-content: center;
      margin: 1rem;
    }
  }

  .products {
    margin: 0 auto 1.5rem auto;

    .container {
      align-items: flex-start;
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      .item {
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: var(--border-radius-lg);
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        min-height: 22.5rem;
        padding: 1.5rem;
        text-decoration: none;
        transition: transform .2s ease-in-out;

        &:hover {
          transform: translate(0, -.25rem);
        }

        h5 {
          margin: 0 0 1rem 0;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
        }

        &.product {
          background-color: var(--peach-400);
          background-image: url('../../../public/pricing/product.svg');
          background-position: top 2rem left;
          border: 2px solid var(--peach-500);

          h5, p {
            color: var(--gray-blue-700);
          }
        }

        &.marketing {
          background-color: var(--gray-blue-500);
          background-image: url('../../../public/pricing/marketing.svg');
          background-position: top left;
          border: 2px solid var(--gray-blue-700);
          
          h5 {
            color: var(--white);
          }

          p {
            color: var(--peach-50);
          }
        }

        &.customer {
          background-color: var(--mauve-500);
          background-image: url('../../../public/pricing/customer.svg');
          background-position: top left;
          border: 2px solid var(--mauve-700);

          h5 {
            color: var(--white);
          }

          p {
            color: var(--peach-50);
          }
        }
      }
    }
  }

  .product {
    margin: 0 auto .5rem auto;
    padding: 0 1rem;
    width: 100%;

    .container {
      flex-direction: column;

      .links {
        align-items: flex-start;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        width: 100%;

        .item {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
          overflow: hidden;
          text-decoration: none;
          transition: transform .2s ease-in-out;

          &:hover {
            transform: translate(0, -.25rem);
          }

          .icon-background {
            height: 7.5rem;
            overflow: hidden;
            position: relative;

            .icon {
              font-size: 8rem;
              position: absolute;
              transform-origin: center center;
            }
          }

          h5 {
            align-items: center;
            color: var(--gray-blue-700);
            display: flex;
            margin: 1rem 1.5rem .5rem 1.5rem;
          }

          p {
            color: var(--gray-blue-700);
            font-size: 16px;
            line-height: 24px;
            margin: 0 1.5rem 1rem 1.5rem;
          }

          &:nth-of-type(1) {
            .icon-background {
              background: var(--gray-blue-500);

              .icon {
                color: var(--gray-blue-300);
                left: 1.5rem;
                transform: rotate(-15deg);
                top: .5rem;
              }
            }
          }

          &:nth-of-type(2) {
            .icon-background {
              background: var(--mauve-500);

              .icon {
                color: var(--mauve-400);
                left: 3rem;
                transform: rotate(30deg);
                top: -.75rem;
              }
            }
          }

          &:nth-of-type(3) {
            .icon-background {
              background: var(--peach-400);

              .icon {
                color: var(--peach-500);
                left: 1.5rem;
                transform: rotate(14.39deg);
                top: -1rem;
              }
            }
          }

          &:nth-of-type(4) {
            .icon-background {
              background: var(--yellow-500);

              .icon {
                color: var(--white);
                left: 4rem;
                opacity: .5;
                top: 0;
                transform: rotate(0deg);
              }
            }
          }

          &:nth-of-type(5) {
            .icon-background {
              background: var(--mauve-800);

              .icon {
                color: var(--mauve-500);
                left: 5rem;
                top: 1rem;
                transform: rotate(20.42deg);
              }
            }
          }
        }
      }

      .info {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 3rem 0 1rem 0;

        p {
          align-items: center;
          display: flex;
          font-size: 16px;
          line-height: 24px;
          margin: 0;

          .icon {
            color: var(--mauve-700);
            margin: 0 .25rem 0 0;
          }
        }

        .banner {
          background: linear-gradient(0deg, #FFDEBF 0%, var(--peach-200) 100%);
          border-radius: 1px;
          padding: .5rem 1rem;

          .icon {
            font-size: 1.25rem;
            margin: 0 .5rem 0 0;
          }
        }

        .banner-left {
          height: 2.25rem;
          margin: 0 0 0 2rem;
        }

        .banner-right {
          height: 2.25rem;
          margin: 0 2rem 0 0;
        }
      }
    }
  }

  &.blue:not(.scrolled):not(.sub-menu-open):not(.open) {
    background: var(--gray-blue-700);

    .hamburger {
      .icon {
        color: var(--white);
      }
    }

    .based-in-europe {
      color: var(--white);

      .flag {
        display: none;

        &.dark {
          display: inline-block;
        }
      }
    }

    menu {
      .link,
      .secondary {
        color: var(--white);
      }
    }
  }

  &.mauve:not(.scrolled):not(.sub-menu-open):not(.open) {
    background: var(--mauve-700);

    .hamburger {
      .icon {
        color: var(--white);
      }
    }

    .based-in-europe {
      color: var(--white);
    }

    menu {
      .link,
      .secondary {
        color: var(--white);
      }
    }
  }

  &.mauve-dark:not(.scrolled):not(.sub-menu-open):not(.open) {
    background: var(--mauve-800);

    .hamburger {
      .icon {
        color: var(--white);
      }
    }

    .based-in-europe {
      color: var(--white);
    }

    menu {
      .link,
      .secondary {
        color: var(--white);
      }
    }
  }

  &.white:not(.scrolled):not(.sub-menu-open):not(.open) {
    background: var(--white);
  }
}

.header-strip {
  background: var(--mauve-700);
  height: 2rem;
  padding: .4rem 2rem;

  @include breakpoint-md {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;

    a {
      align-items: center;
      color: var(--white);
      display: flex;
      font-size: .875rem;
      line-height: 1.25rem;
      text-decoration: none;

      .icon {
        color: var(--peach-500);
        margin: 0 0 0 .5rem;
      }
    }

    .blog-link {
      color: var(--peach-50);

      &.hidden {
        visibility: hidden;
      }

      span {
        color: var(--white);
      }

      @include breakpoint-md {
        display: none;
      }
    }

    menu {
      align-items: center;
      display: flex;
      margin: 0;

      a {
        margin: 0 0 0 1rem;

        .icon {
          color: var(--mauve-400);
          margin: 0 .5rem 0 0;
        }
      }
    }
  }

  &.blue {
    background: var(--gray-blue-400);

    a {
      .icon {
        color: var(--light-blue-300);
      }
    }

    menu {
      a {
        .icon {
          color: var(--light-blue-300);
        }
      }
    }
  }

  &.mauve {
    background: var(--mauve-900);
  }
}

@keyframes header-menu-show {
  from { opacity: 0 }
  to { opacity: 1 }
}
