.input {
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius-md);
  color: var(--gray-blue-800);
  height: 40px;
  margin: 0 0 1.5rem 0; 
  outline: none;
  padding: .35rem .75rem;
  width: 100%;

  & + .validation {
    color: var(--rose-500);
    font-size: 13px;
    line-height: 20px;
    display: none;
    margin: .5rem 0 1.5rem;
  }

  &.invalid {
    border-color: var(--rose-500);
    margin-bottom: 0;

    & + .validation {
      display: block;
    }
  }

  &:focus {
    border-color: var(--blue-500);
  }

  &[type=search] {
    appearance: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &.time {
    width: 70px;
  }
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: background 5000s ease-in-out 0s;
}

.select-input-group {
  display: grid;
  grid-gap: 0 1rem;
  grid-template-areas: 'select input input'
                       'validation validation validation';
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-template-rows: 40px;
  margin-bottom: 2rem;

  .select {
    grid-area: select;
    margin: 0;
  }

  .input {
    grid-area: input;
    margin: 0;
  }

  .validation {
    grid-area: validation;
    padding-left: 8.5rem;
  }
}

.icon-input {
  position: relative;

  span {
    left: .75rem;
    top: .4rem;
    position: absolute;
  }

  input {
    padding-left: 2.25rem;
  }
}
