.legal-message {
  background: var(--gray-blue-50);
  border-radius: var(--border-radius-lg);
  color: var(--gray-blue-700);
  display: flex;
  margin: 0 0 4rem 0;
  padding: 2rem;

  .icon {
    color: var(--gray-blue-500);
    flex-shrink: 0;
    font-size: 1.25rem;
    margin: .35rem .75rem 0 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
