.pricing-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  text-align: left;
  z-index: 1;

  @include breakpoint-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-sm {
    grid-template-columns: 1fr;
  }

  .plan-card {
    &.free {
      background: var(--peach-50);
    }
  }

  .plan-name {
    align-items: center;
    color: var(--gray-blue-800);
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    min-height: 4.5rem;
  }

  .pricing {
    color: var(--gray-blue-800); 

    span {
      color: var(--gray-blue-700);
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .discount {
      color: var(--mauve-700);
      display: block;
      font-weight: var(--font-weight-normal);
    }
  }

  .button {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .category {
    color: var(--mauve-700);
    font-weight: var(--font-weight-semibold);
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
  }

  .features {
    @include breakpoint-sm {
      &:not(.show) {
        display: none;
      }
    }
  }

  .small {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 .75rem 0;

    i {
      color: var(--gray-500);
      font-style: normal;
    }

    span {
      color: var(--blue-700);
    }
  }

  .includes {
    color: var(--gray-500);
  }

  .divider {
    margin: 3rem 0;
  }

  .show-more {
    background: var(--peach-100);
    border: none;
    border-radius: var(--border-radius-md);
    color: var(--mauve-700);
    display: none;
    font-weight: var(--font-weight-normal);
    text-decoration: underline;
  }

  @include breakpoint-sm {
    .show-more {
      display: inline-block;
      margin: 2rem 0 0 0;
    }

    .divider {
      display: none;
    }
  }

  .plan-card {
    &.free {
      .pricing {
        .discount {
          visibility: hidden;
        }
      }
    }

    &.enterprise {
      background: var(--mauve-800);

      .plan-name {
        color: var(--peach-50);
      }
      
      .description {
        color: var(--peach-200);
      }

      .divider {
        background: var(--mauve-500);
      }

      .pricing {
        color: var(--peach-100);

        .discount {
          visibility: hidden;
        }
      }

      .category {
        color: var(--peach-400);
      }

      .small {
        color: var(--peach-100);

        span {
          color: var(--peach-400);
        }
      }
    }
  }
}
