.pricing-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  text-align: left;
  z-index: 1;

  @include breakpoint-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-sm {
    grid-template-columns: 1fr;
  }

  .tag {
    background: var(--rose-500);
    border-color: var(--rose-500);
    border-radius: var(--border-radius-sm);
    font-size: 12px;
    height: 1.25rem;
    margin: 0 0 0 .5rem;
    padding: 0;

    span {
      font-size: var(--font-size-body-sm);
      line-height: var(--line-height-body-sm);
      padding: 0 .125rem;
    }
  }

  .plan-name {
    align-items: center;
    color: var(--gray-blue-800);
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    min-height: 4.5rem;
  }

  .divider {
    margin: 3rem 0;
  }

  .pricing {
    color: var(--gray-500);

    b {
      color: var(--gray-blue-800);
      font-size: 2rem;
    }
  }

  .button {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .category {
    color: var(--mauve-700);
    font-weight: var(--font-weight-semibold);
    margin: 1.5rem 0 1rem 0;
    text-transform: uppercase;
  }

  .small {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 .75rem 0;

    i {
      color: var(--gray-500);
      font-style: normal;
    }

    span {
      color: var(--blue-700);
    }
  }

  .includes {
    color: var(--gray-500);
  }

  .deprecation-notice {
    display: none;
    margin: 1.5rem 0 0 0;
  }

  .col.deprecated {
    background: var(--gray-100);

    .features {
      display: none;
    }

    .deprecation-notice {
      display: block;
    }

    .discount {
      display: none;
    }
  }

  .plan-card {
    &.enterprise {
      background: var(--mauve-800);

      .plan-name {
        color: var(--peach-50);
      }
      
      .description {
        color: var(--peach-200);
      }

      .divider {
        background: var(--mauve-500);
      }

      .pricing b {
        color: var(--peach-100);
      }

      .category {
        color: var(--peach-400);
      }

      .small {
        color: var(--peach-100);

        span {
          color: var(--peach-400);
        }
      }
    }
  }
}
