.programs-header {
  background-color: var(--mauve-800);
  padding: 8rem 0;

  .egg {
    background-image: url('../../../public/backgrounds/egg-mauve.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 697px 504px;
    margin: 0 auto;
    max-width: 94rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
  }

  .info {
    flex: 1;
    margin: 0 3rem 0 0;
    width: calc(50% - 1.5rem);
  }

  .image {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 32rem;
    width: calc(50% - 1.5rem);
  }

  h6 {
    color: var(--peach-200);
    margin: 0 0 1rem 0;
    text-transform: uppercase;
  }

  h1 {
    color: var(--white);
    margin: 0 0 2rem 0;
  }

  p {
    color: var(--peach-100);
    max-width: 30rem;
  }

  ul {
    margin: 1.5rem 0 2rem 0;
    padding: 0 0 0 1.5rem;

    li {
      font-weight: var(--font-weight-semibold);
    }
  }

  .tag {
    background: var(--rose-500);
    border: none;
    margin: 0;
  }

  .actions {
    align-items: center;
    display: flex;

    .button:first-of-type {
      margin-right: 1rem;
    }

    .button.secondary {
      color: var(--white);
    }
  }

  @include breakpoint-lg {
    .egg {
      background-position: top right -100px;
    }
  }

  @include breakpoint-md {
    padding: 6rem 0;

    .container {
      padding: 0 3rem;
    }
  }

  @include breakpoint-sm {
    padding: 4rem 0;

    .container {
      flex-direction: column;
      padding: 0 2rem;
    }

    .egg {
      background-position: left bottom;
      background-size: 100%;
    }

    .info {
      margin: 0 0 5rem 0;
      width: 100%;
    }
  
    .image {
      min-height: 0;
      width: 100%;
    }

    .actions {
      flex-direction: column;

      .button {
        text-align: center;
        width: 100%;

        &:first-of-type {
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}
