.slider {
  background: var(--gray-150);
  border-radius: var(--border-radius-sm);
  height: .25rem;
  margin: 0 1rem;
  position: relative;

  .bar {
    border-radius: var(--border-radius-sm);
    height: .25rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1;

    @supports (-moz-appearance: none) {
      z-index: 0;
    }
  }

  .buffered {
    background: var(--gray-500);
  }

  .progress {
    background: var(--blue-500);
  }

  .input[type=range] {
    appearance: none;
    border: none;
    border-radius: var(--border-radius-sm);
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    height: .25rem;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--blue-500);
    border: 2px solid var(--gray-100);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 1rem;
    position: relative;
    width: 1rem;
    z-index: 2;
  }

  .input[type=range]::-moz-range-progress {
    background: transparent;
    border-radius: var(--border-radius-sm);
    height: .25rem;
  }

  .input[type=range]::-moz-range-track {
    background: transparent;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  .input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--blue-500);
    border: 2px solid var(--gray-100);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 1.25rem;
    margin-top: -10px;
    position: relative;
    width: 1.25rem;
    z-index: 2;
  }

  .input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid var(--gray-150);
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid var(--gray-150);
  }
}
