.slider {
  background: transparent;
  border-radius: var(--border-radius-sm);
  height: .5rem;
  margin: 0;
  position: relative;
  width: 100%;

  .progress {
    background: transparent;
    display: grid;
    height: .5rem;
    grid-gap: .25rem;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    width: 100%;
    
    span {
      background: var(--peach-200);

      &:first-of-type {
        border-radius: .25rem 0 0 .25rem;
      }

      &:last-of-type {
        border-radius: 0 .25rem .25rem 0;
      }

      &.active {
        background: var(--mauve-400);
      }
    }
  }

  .input[type=range] {
    appearance: none;
    border: none;
    border-radius: var(--border-radius-sm);
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    height: .5rem;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--white);
    border: 4px solid var(--mauve-700);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
    z-index: 2;
  }

  .input[type=range]::-moz-range-progress {
    background: transparent;
    border-radius: var(--border-radius-sm);
    height: .25rem;
  }

  .input[type=range]::-moz-range-track {
    background: transparent;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--white);
    border: 4px solid var(--mauve-700);
    border-radius: var(--border-radius-o);
    cursor: pointer;
    height: 1.5rem;
    margin-top: -10px;
    position: relative;
    width: 1.5rem;
    z-index: 2;
  }

  .input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    height: .25rem;
  }

  .input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: 2px solid transparent;
  }
}
