.sort {
  display: inline-flex;
  flex-direction: column;
  height: 1rem;
  vertical-align: middle;

  .button {
    background: none;
    border: none;
    margin: 0 0 0 .15rem;
    opacity: .5;
    padding: 0;
    transition: transform .3s ease-in-out;

    i {
      display: block;
      font-size: 1rem;
      line-height: 1rem;
    }

    &.active {
      opacity: 1;
    }

    &.desc {
      transform: rotate(180deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}
