.steps {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);

  .step-item {
    text-align: center;
    position: relative;

    &:before {
      background: url('../../../public/peach-dash.svg');
      background-position: top left;
      background-repeat: repeat;
      content: '';
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: 1.75rem;
      width: 100%;
    }

    &:first-of-type:before {
      background-position: top right;
      left: 50%;
      width: calc(50% + 3rem);
    }

    &:last-of-type:before {
      background-position: top right;
      left: -3rem;
      width: calc(50% + 3rem);
    }
  }

  h3 {
    align-items: center;
    background: var(--peach-400);
    border-radius: var(--border-radius-o);
    display: flex;
    height: 3.5rem;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
    position: relative;
    width: 3.5rem;
    z-index: 0;
  }

  h4 {
    color: var(--white);
    margin: 0 0 1rem 0;
  }

  p {
    color: var(--peach-100);
    margin: 0 auto;
    max-width: 18rem;
    text-align: center;

    a {
      color: var(--yellow-500);
    }
  }

  @include breakpoint-sm {
    grid-template-columns: 1fr;

    .step-item {
      text-align: left;
      padding: .5rem 0 0 5rem;
      position: relative;

      &:before {
        height: 100%;
        left: 1.75rem;
        width: 2px;
      }

      &:first-of-type:before {
        height: 100%;
        left: 1.75rem;
        top: 3rem;
        width: 2px;
      }
  
      &:last-of-type:before {
        height: 3rem;
        left: 1.75rem;
        top: -2rem;
        width: 2px;
      }
    }

    h3 {
      left: 0;
      position: absolute;
      top: 0;
    }

    h4 {
      font-size: 24px;
      line-height: 32px;
    }

    p {
      text-align: left;
    }
  }
}
