.testimonial-quote {
  align-items: center;
  display: flex;
  position: relative;

  .image {
    flex-shrink: 0;
    margin: 0 6rem 0 0;
    position: relative;
    width: 20rem;

    .img {
      background: var(--white);
      font-size: 0;
      height: 18.5rem;
      position: relative;
      width: 18.5rem;
      z-index: 0;
    }

    .shadow {
      background: var(--gray-blue-300);
      content: ' ';
      display: block;
      height: 18.5rem;
      left: 1.5rem;
      position: absolute;
      top: 1.5rem;
      width: 18.5rem;
    }
  }

  .bottom {
    .img {
      display: none;
    }
  }

  &.circular {
    .image {
      .img {
        border-radius: var(--border-radius-o);
        overflow: hidden;
      }
    }

    .shadow {
      display: none;
    }
  }

  &.flip {
    flex-direction: row-reverse;

    .image {
      margin: 0 0 0 6rem;
    }
  }

  h3 {
    color: var(--white);
    margin: 0 0 2rem 0;
  }

  p {
    color: var(--gray-blue-200);
    margin: 0;

    b {
      color: var(--white);
    }
  }

  @include breakpoint-md {
    .image {
      margin: 0 3rem 0 0;
      width: 15rem;

      .img,
      .shadow {
        height: 14rem;
        width: 14rem;
      }
    }
  }

  @include breakpoint-sm {
    flex-direction: column-reverse;

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 24px;
      line-height: 32px;
    }

    .image {
      display: none;
    }

    .bottom {
      align-items: center;
      display: flex;

      .img {
        border-radius: var(--border-radius-o);
        display: block;
        height: 2.75rem;
        flex-shrink: 0;
        overflow: hidden;
        margin-right: 1.5rem;
        width: 2.75rem;
      }

      .shadow {
        display: none;
      }
    }
  }
}
