.textarea {
  background: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius-md);
  margin: 0 0 1.5rem 0; 
  outline: none;
  padding: .35rem .75rem;
  width: 100%;

  & + .validation {
    color: var(--rose-500);
    font-size: 13px;
    line-height: 20px;
    display: none;
    margin: .5rem 0 1.5rem;
  }

  &.invalid {
    border-color: var(--rose-500);
    margin-bottom: 0;

    & + .validation {
      display: block;
    }
  }

  &:focus {
    border-color: var(--blue-500);
  }

  &[type=search] {
    appearance: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.textarea:-webkit-autofill:active {
    transition: background 5000s ease-in-out 0s;
}
