.tooltip {
  display: inline-block;
  position: relative;

  .button {
    background: none;
    border: none;
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;

    &.link {
      color: var(--blue-500);
      text-decoration: underline;
    }
  }
}

.tooltip-menu {
  animation: tooltip-show 0s forwards;
  background: var(--gray-blue-800);
  border: 2px solid var(--gray-blue-700);
  border-radius: var(--border-radius-md);
  color: var(--gray-100);
  font-size: 13px;
  line-height: 1rem;
  left: 0;
  max-width: 256px;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
  z-index: 2;

  &.fluid {
    max-width: 100%;
  }

  &.right {
    transform: translateX(-100%);
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      list-style: none;
      margin-bottom: .75rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      span {
        flex-shrink: 0;
      }

      i, div {
        flex-shrink: 0;
        margin-right: .5rem;
      }
    }
  }
}

.tooltip-list {
  margin: 0;
  padding: 0 0 0 0;

  li {
    list-style: none;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@keyframes tooltip-show {
  from { opacity: 0 }
  to { opacity: 1 }
}
