.trend {
  align-items: center;
  background: var(--gray-100);
  border-radius: var(--border-radius-lg);
  display: inline-flex;
  padding: .25rem .75rem;

  @include breakpoint-md {
    font-size: 13px;
    line-height: 20px;
  }

  &.up {
    i {
      color: var(--green-500);
    }
  }

  &.down {
    i {
      color: var(--rose-500);
    }
  }

  i {
    font-size: 1.25rem;
    margin-right: .25rem;
  }

  span {
    font-weight: var(--font-weight-bold);
  }
}
