.page.sites.settings {
  .title {
    align-items: center;
    display: flex;
    margin: 0 0 2rem 0;
  }

  .site-tabs {
    margin-bottom: 3rem;

    .badge {
      margin-left: .5rem;

      &.warning i {
        color: var(--orange-500);
      }

      &.verified i {
        color: var(--green-500);
      }

      &.unverified i {
        color: var(--rose-500);
      }
    }
  }

  .tracking {
    .label {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .button {
        background: none;
        border: none;
        color: var(--blue-500);
        font-weight: var(--font-weight-bold);
        padding: none;
      }
    }

    .verify-site {
      display: inline-block;
      margin: 1.5rem 0 2rem 0;
    }
  }

  .tracking-code {
    display: flex;

    .label {
      margin-bottom: 1rem;
    }

    .installation-guide {
      background: var(--white);
      border-radius: var(--border-radius-lg);
      height: 26rem;
      margin: -3.75rem 0 0 3rem;
      padding: 2rem;
      width: 21.5rem;

      h4 {
        align-items: center;
        display: flex;
        margin: 0 0 1.5rem 0;

        .icon {
          color: var(--blue-500);
          font-size: 1.25rem;
          margin-right: .75rem;
        }
      }

      p {
        margin: 0 0 1.5rem 0;
      }

      .platforms {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 82px);
        grid-template-rows: repeat(2, 82px);

        a {
          align-items: center;
          background: var(--gray-50);
          border-radius: var(--border-radius-md);
          display: flex;
          justify-content: center;

          &:hover {
            background: var(--gray-100);
          }
        }
      }
    }
  }

  h4 {
    align-items: center;
    display: flex;

    .verified {
      align-items: center;
      display: flex;
      font-size: 16px;
      font-weight: var(--font-weight-normal);

      .icon {
        color: var(--green-500);
        margin: 0 .25rem 0 1rem;
      }
    }
  }

  .verified-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--green-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .verification-failed {
    flex-direction: column;
    padding: 1.5rem 1rem;

    .heading {
      align-items: center;
      display: flex;
    }

    p:not(.heading) {
      margin: .75rem 0 0 2rem;
    }

    ul {
      margin: .75rem 0 0 3.25rem;
      padding: 0;

      li {
        margin-bottom: 1rem;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .status-heading {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: var(--font-weight-normal);
    line-height: 24px;

    .icon {
      font-size: 1.25rem;
      margin: 0 .25rem 0 1.5rem;
    }

    &.inactive {
      .icon {
        color: var(--rose-500);
      }
    }

    &.verified {
      .icon {
        color: var(--green-500);
      }
    }

    &.warning {
      .icon {
        color: var(--orange-500);
      }
    }
  }

  .unverified-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--rose-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .warning-badge {
    align-items: center;
    display: flex;
    font-style: italic;
    margin-left: 1rem;

    i {
      color: var(--orange-500);
      font-size: 1.5rem;
      margin-right: .5rem;
    }
  }

  .delete-list {
    margin-bottom: 2rem;
    padding: 0 0 0 1rem;

    li {
      margin-bottom: .5rem;
    }
  }

  .privacy-code {
    padding: 0 0 0 1rem;

    li {
      margin-bottom: .5rem;
    }
  }

  .bulk-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .dropdown,
    .tooltip {
      & > .button {
        background: none;
        border: none;
        border-radius: var(--border-radius-md);
        font-weight: var(--font-weight-bold);
        padding: .5rem 2rem .5rem 1rem;

        i:not(.arrow) {
          color: var(--blue-500);
          font-size: 1.25rem;
          margin-right: .5rem;
        }

        .arrow {
          right: .5rem;
          top: .5rem;
        }
      }

      &.open {
        & > .button {
          background: var(--gray-100);
        }
      }
    }

    .tooltip {
      cursor: default;
      opacity: .25;
    }

    .dropdown-menu {
      transform: translate(0, 2.5rem); 
    }
  }

  .tags-table {
    .row {
      grid-template-columns: 60px 1fr 1fr;

      &.fluid {
        p {
          margin: 0;
          text-align: center;
        }
      }

      .checkbox {
        margin: 0;
      }

      .tag {
        margin: 0;
        padding: .4rem .4rem;
      }

      .options {
        .button {
          text-decoration: underline;

          &:first-of-type {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .label {
    &.section {
      margin: 2rem 0 1.5rem 0;
    }
  }

  .message {
    p {
      margin-bottom: 0;
    }
  }

  .ip-table {
    margin-bottom: 1.5rem;

    .button {
      font-size: 14px;
      line-height: 20px;
    }

    .row {
      grid-template-columns: 1fr 1fr 1fr;

      &.fluid {
        p {
          margin: 0;
          text-align: center;
        }
      }
    }
  }

  .actions {
    .button + .button {
      margin-left: 1rem;
    }
  }
}
