.web {
  .header {
    background: var(--peach-100);
    height: 6rem;
    position: sticky;
    top: 0;
    transition: background .3s ease-in-out;
    width: 100%;
    z-index: 2;

    &.scrolled {
      background: var(--white);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

      &.sub-menu-open {
        background: var(--peach-100);

        @include breakpoint-sm {
          background: var(--white);
        }
      }
    }

    &.open {
      background: var(--white);
    }

    .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .logo {
      display: block;
      transform: translate(0, .35rem);
    }

    menu {
      align-items: center;
      display: flex;

      &.small {
        display: none;
      }

      .link {
        color: var(--gray-blue-700);
        font-weight: var(--font-weight-block);
        margin: 0 2rem 0 0;
        text-decoration: none;

        span {
          border-bottom: 2px solid transparent;
        }

        &:hover span,
        &.active span {
          border-bottom: 2px solid var(--yellow-500);
        }

        &.menu {
          align-items: center;
          display: flex;

          .arrow {
            font-size: 20px;
            margin: 0 0 0 .25rem;
          }
        }

        &.open {
          .arrow {
            transform: rotate(180deg);
          }
        }
      }

      .dropdown .link {
        align-items: center;
        display: flex;

        .arrow {
          font-size: 20px;
          margin: 0 0 0 .25rem;
        }
      }

      .secondary-web {
        margin-left: 1rem;
      }

      .hamburger {
        align-items: center;
        background: none;
        border: none;
        color: var(--gray-blue-700);
        display: flex;
        font-size: 1.5rem;
        height: 1.5rem;
        margin: 0 0 0 1.5rem;
        padding: 0;
        width: 1.5rem;
      }
      
      @include breakpoint-md {
        &.large {
          display: none;
        }

        &.small {
          display: flex;
        }
      }


      @include breakpoint-sm {
        & > .primary-web {
          display: none;
        }
      }
    }

    .menu-drawer {
      background: var(--white);
      height: calc(100% - 6rem);
      left: 0;
      position: fixed;
      top: 6rem;
      width: 100%;

      .actions,
      .social {
        display: none;
      }

      @include breakpoint-sm {
        .actions {
          display: flex;
          flex-wrap: wrap;
          padding: 2rem;

          .button {
            flex: 1;
            text-align: center;
            white-space: nowrap;
          }
        }

        .social {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: 1rem 0 0 0;

          a {
            align-items: center;
            background: var(--gray-100);
            border-radius: var(--border-radius-o);
            color: var(--gray-500);
            display: flex;
            height: 3rem;
            font-size: 1.25rem;
            justify-content: center;
            margin: 0 1rem 0 0;
            text-decoration: none;
            width: 3rem;

            &:last-of-type {
              margin-right: 0;
            }

            &:hover {
              background: var(--gray-150);
            }
          }
        }
      }

      @include breakpoint-x-sm {
        .actions {
          flex-direction: column;

          .secondary-web {
            margin: 1rem 0 0 0;
          }
        }
      }
    }

    .header-drawer-item {
      border-bottom: 1px solid var(--gray-blue-50);

      .button {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        font-size: 18px;
        justify-content: space-between;
        line-height: 32px;      
        padding: 1rem 2rem;
        width: 100%;

        .icon {
          font-size: 1.5rem;
        }
      }

      &.open {
        .arrow {
          transform: rotate(180deg);
        }

        .links {
          margin-bottom: 1.5rem;

          a {
            color: var(--gray-blue-400);
            display: block;
            padding: .25rem 2rem;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .header-menu {
      background: var(--peach-100);
      box-shadow: 0 1.5rem 1.5rem -1.5rem rgba(0, 0, 0, 0.1);
      left: 0;
      padding: 1.5rem 0;
      position: absolute;
      top: 6rem;
      width: 100%;
    }

    .header-dropdown {
      background: var(--white);
      box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
      border-radius: var(--border-radius-md);
      left: -1rem;
      padding: .5rem;
      position: absolute;
      top: calc(100% + 1rem);

      .button:not(.tertiary-web) {
        align-items: center;
        border-radius: var(--border-radius-md);
        color: var(--gray-blue-500);
        display: flex;
        height: 3rem;
        padding: .5rem 1rem;
        white-space: nowrap;

        &:hover {
          background: var(--peach-50);
          color: var(--mauve-800);
        }
      }

      .tertiary-web {
        display: flex;
        justify-content: center;
        margin: 1rem;
      }
    }

    .products {
      margin: 0 auto;

      .container {
        align-items: flex-start;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .item {
          background-repeat: no-repeat;
          background-size: 100%;
          border-radius: var(--border-radius-lg);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          min-height: 22.5rem;
          padding: 1.5rem;
          text-decoration: none;
          transition: transform .3s ease-in-out;

          &:hover {
            transform: translate(0, -.5rem);
          }

          h5 {
            margin: 0 0 1rem 0;
          }

          p {
            font-size: 14px;
            line-height: 20px;
            margin: 0;
          }

          &.product {
            animation: fade-in .3s ease-in-out forwards;
            animation-delay: 0ms;
            background-color: #fdc4a0; // TODO
            background-image: url('../../../../public/pricing/product.svg');
            background-position: top 2rem left;
            border: 2px solid var(--peach-500);
            opacity: 0;

            h5, p {
              color: var(--gray-blue-700);
            }
          }

          &.marketing {
            animation: fade-in .3s ease-in-out forwards;
            animation-delay: 50ms;
            background-color: #234977; // TODO
            background-image: url('../../../../public/pricing/marketing.svg');
            background-position: top left;
            border: 2px solid var(--gray-blue-700);
            opacity: 0;
            
            h5 {
              color: var(--white);
            }

            p {
              color: var(--peach-50);
            }
          }

          &.customer {
            animation: fade-in .3s ease-in-out forwards;
            animation-delay: 100ms;
            background-color: #a14259; // TODO
            background-image: url('../../../../public/pricing/customer.svg');
            background-position: top left;
            border: 2px solid var(--mauve-700);
            opacity: 0;

            h5 {
              color: var(--white);
            }

            p {
              color: var(--peach-50);
            }
          }
        }
      }
    }

    .product {
      width: 100%;

      .container {
        flex-direction: column;

        .links {
          align-items: flex-start;
          display: grid;
          grid-gap: 2rem;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr;
          width: 100%;

          .item {
            background: var(--white);
            border-radius: var(--border-radius-md);
            box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
            padding: 1.5rem;
            text-decoration: none;
            transition: transform .3s ease-in-out;

            &:hover {
              transform: translate(0, -.5rem);
            }

            h5 {
              align-items: center;
              color: var(--gray-blue-700);
              display: flex;
              margin: 0 0 1rem 0;

              .icon {
                font-size: 1.75rem;
                font-weight: var(--font-weight-normal);
                margin-right: 1rem;
              }
            }

            p {
              color: var(--gray-blue-600);
              font-size: 14px;
              line-height: 20px;
              margin: 0;
            }

            &:nth-of-type(1) {
              animation: fade-in .3s ease-in-out forwards;
              animation-delay: 0ms;
              opacity: 0;

              .icon {
                color: var(--marine-blue-700);
              }
            }

            &:nth-of-type(2) {
              animation: fade-in .3s ease-in-out forwards;
              animation-delay: 50ms;
              opacity: 0;

              .icon {
                color: var(--mauve-500);
              }
            }

            &:nth-of-type(3) {
              animation: fade-in .3s ease-in-out forwards;
              animation-delay: 100ms;
              opacity: 0;

              .icon {
                color: var(--yellow-500);
              }
            }

            &:nth-of-type(4) {
              animation: fade-in .3s ease-in-out forwards;
              animation-delay: 150ms;
              opacity: 0;

              .icon {
                color: var(--rose-500);
              }
            }
          }
        }

        .info {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 2rem 0 0 0;

          p {
            align-items: center;
            display: flex;
            margin: 0;

            .icon {
              color: var(--mauve-700);
              margin: 0 .25rem 0 0;
            }
          }

          .banner {
            background: linear-gradient(0deg, #FFDEBF 0%, var(--peach-200) 100%);
            border-radius: 1px;
            padding: .5rem 1rem;

            .icon {
              font-size: 1.25rem;
              margin: 0 .5rem 0 0;
            }
          }

          .banner-left {
            height: 2.25rem;
            margin: 0 0 0 2rem;
          }

          .banner-right {
            height: 2.25rem;
            margin: 0 2rem 0 0;
          }
        }
      }
    }

    &.blue:not(.scrolled):not(.sub-menu-open) {
      background: var(--gray-blue-700);

      menu {
        .link,
        .secondary-web {
          color: var(--white);
        }
      }
    }

    &.mauve:not(.scrolled):not(.sub-menu-open) {
      background: var(--mauve-700);

      menu {
        .link,
        .secondary-web {
          color: var(--white);
        }
      }
    }
  }
}

@keyframes fade-in {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}