.tag-group {
  display: flex;
  justify-content: space-between;

  p {
    align-items: center;
    background: var(--gray-100);
    border-radius: var(--border-radius-lg);
    color: var(--mauve-700);
    display: flex;
    margin: 0;
    padding: .25rem .75rem;

    .icon {
      margin: 0 .25rem 0 0;
    }
  }

  @include breakpoint-sm {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    p {
      margin: 0 1rem 1rem 0;
    }
  }
}
