#app-sidebar {
  background: var(--sidebar-background);
  flex-direction: row;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  transition: width .3s ease-in-out;
  width: 72px;
  z-index: 1;

  @include breakpoint-md {
    border-bottom: 1px solid var(--gray-150);
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 100%;
  }

  .logo {
    margin: 0 auto;

    &.large {
      display: none;
    }

    &.small {
      display: block;
      width: 1.125rem;
    }

    @include breakpoint-md {
      margin: 0;
    }
  }

  .menu-toggle {
    align-items: center;
    color: var(--gray-blue-200);
    display: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    @include breakpoint-md {
      background: none;
      border: none;
      display: flex;
      font-size: 1.5rem;
    }
  }

  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  .link {
    align-items: center;
    background: var(--gray-blue-800);
    border-radius: var(--border-radius-md);
    color: var(--gray-blue-200);
    display: flex;
    height: 2.5rem;
    font-size: 14px;
    justify-content: center;
    line-height: 24px;
    margin-bottom: .5rem;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;

    i {
      color: var(--blue-300);
      display: block;
      font-size: 1rem;
      margin: 0;
    }

    span {
      display: none;
      flex: 1;
      white-space: nowrap;
    }

    .arrow {
      color: var(--light-blue-300);
      display: none;
      margin: 0;
      transition: transform .3s ease-in-out;
    }

    &:after {
      background: var(--gray-blue-800);
      border-radius: var(--border-radius-md);
      color: var(--white);
      content: attr(data-label);
      display: none;
      font-size: 13px;
      line-height: 20px;
      left: calc(100% + 2rem);
      padding: .25rem .5rem;
      position: absolute;
      white-space: nowrap;
    }

    &:hover {
      background: var(--gray-blue-600);

      &:after {
        display: block;
      }
    }

    &.active {
      background: var(--gray-blue-600);
      color: var(--blue-50);

      i {
        color: var(--blue-50);
      }
    }

    &.nested {
      flex-direction: column;

      .button {
        align-items: center;
        background: none;
        border: none;
        color: var(--gray-blue-200);
        display: flex;
        font-size: 14px;
        font-weight: var(--font-weight-normal);
        justify-content: center;
        line-height: 24px;
        margin: 0;
        text-align: center;
        padding: 0;
        width: 100%;
      }

      .items {
        background: var(--white);
        border-radius: var(--border-radius-md);
        box-shadow: var(--box-shadow-sm);
        display: none;
        font-size: 14px;
        line-height: 24px;
        left: calc(100% + 2rem);
        top: 0;
        padding: .5rem;
        position: absolute;
        width: 180px;

        .button {
          border-radius: 0;
          color: var(--gray-blue-800);
          font-weight: var(--font-weight-normal);
          margin: 0;
          padding: .5rem .75rem;

          &:hover {
            background: var(--gray-50);
            color: var(--gray-blue-700);
          }

          &.active {
            color: var(--blue-500);
          }
        }
      }

      &.open {
        background: var(--gray-blue-600);

        &:after {
          display: none;
        }
  
        .items {
          display: block;

          .button {
            justify-content: flex-start;
          }
        }
      }
    }
  }

  .feedback {
    display: none;
  }

  .divider {
    background: var(--gray-blue-600);
    margin: .5rem 0;
  }

  menu {
    flex: 1;
    margin: 0;
    padding: 2rem 0;
    width: 100%;

    .slider {
      background: none;
      display: flex;
      height: auto;
      margin: 0;
      transition: transform .3s ease-in-out;
      width: 200%;

      .nav {
        width: 50%;
      }
    }

    .left {
      opacity: 1;
      pointer-events: all;
      transition: opacity .1s ease-in-out;
      transition-delay: .2s;
    }

    .right {
      opacity: 0;
      pointer-events: none;
      transition: opacity .1s ease-in-out;
      transition-duration: 0;
    }

    &.right {
      .slider {
        transform: translateX(-40px);

        .left {
          opacity: 0;
          pointer-events: none;
          transition-delay: 0;
          transition-duration: 0;
        }
    
        .right {
          opacity: 1;
          pointer-events: all;
          transition-delay: .2s;
        }
      }
    }
  }

  menu {
    @include breakpoint-md {
      display: none;
      padding: 1.5rem 0;
    }
  }

  footer {
    .link {
      flex-shrink: 0;
      justify-content: center;
      text-align: center;
      width: 2.5rem;

      span {
        text-align: left;
      }

      i {
        color: var(--blue-300);
      }
    }

    @include breakpoint-md {
      display: none;
    }
  }

  &.open {
    overflow: hidden;
    width: 216px;

    @include breakpoint-md {
      border-bottom-color: var(--gray-blue-600);
      width: 100%;
    }

    .logo {
      height: 32px;
      margin: 0 1rem;
      width: 103px;

      &.large {
        display: block;
      }
  
      &.small {
        display: none;
      }

      @include breakpoint-md {
        margin: 0;

        &.large {
          display: none;
        }

        &.small {
          display: block;
        }
      }
    }

    .icon {
      margin: 0 1rem 0 0;
    }

    .menu-toggle {
      @include breakpoint-md {
        .icon {
          margin: 0;
        }
      }
    }

    .link {    
      padding: .75rem 1rem;
      text-align: left;
      width: 184px;

      &:not(.nested):focus-visible {
        border-radius: 0;
        outline: 2px dashed var(--white);
      }

      i:not(.arrow) {
        margin-right: .5rem;
        width: 1rem;
      }

      span {
        display: inline-block;
      }

      .arrow {
        display: block;
        margin: 0;
        text-align: right;
      }

      &:hover {
        &:after {
          display: none;
        }
      }

      &.nested {
        height: auto;
        padding: 0;

        .button {
          height: 2.5rem;
          padding: 0.75rem 1rem;
          text-align: left;

          &:focus-visible {
            border-radius: 0;
            outline: 2px dashed var(--white);
            outline-offset: 2px;

            .button {
              outline: none;
            }
          }
        }

        .items {
          background: transparent;
          box-shadow: none;
          padding: 1rem 1rem .75rem 3.5rem;
          position: static;
          width: 100%;

          @include breakpoint-md {
            padding-left: 2.5rem;
          }

          .button {
            color: var(--gray-blue-200);
            font-size: 13px;
            font-weight: var(--font-weight-normal);
            height: auto;
            line-height: 20px;
            margin-bottom: .5rem;
            padding: 0;

            &.active {
              color: var(--blue-300);
            }

            &:last-child {
              margin-bottom: 0;
            }

            &:hover {
              background: transparent;
            }
          }
        }
      }
    }

    .feedback {
      color: var(--white);
      display: block;
      padding: 2rem 1rem;
      white-space: nowrap;

      p, a {
        font-size: 13px;
        line-height: 16px;
        margin: 0;
      }

      a {
        color: var(--blue-300);
      }

      @include breakpoint-md {
        display: none;
      }
    }

    menu {
      &.left {
        @include breakpoint-md {
          .slider {
            padding: 1rem;
            width: 100%;
          }

          .right {
            display: none;
          }
        }
      }

      &.right {
        .slider {
          transform: translateX(-184px);

          @include breakpoint-md {
            padding: 1rem;
            transform: translateX(0);
            width: 100%;
          }
        }

        @include breakpoint-md {
          .left {
            display: none;
          }
        }
      }

      @include breakpoint-md {
        background: var(--gray-blue-800);
        display: flex;
        height: calc(100% - 4rem);
        position: fixed;
        right: 0;
        top: 4rem;
        z-index: 10;

        .slider {
          .nav {
            width: 100%;

            .link {
              width: 100%;
            }
          }
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      .link {
        align-items: center;
        border: 1px solid var(--gray-blue-600);
        justify-content: center;
        padding: 0;
        text-align: center;
        width: 2.5rem;

        i:not(.arrow) {
          color: var(--blue-300);
          margin: 0;
          text-align: center;
        }
      }

      @include breakpoint-md {
        bottom: 1.5rem;
        padding: 0;
        position: absolute;
        width: calc(100% - 3rem);
        z-index: 10;
      }
    }
  }

  #main {
    flex: 1;
  }
}
