.page.__admin {
  background: var(--gray-100);
  min-height: 100vh;
  padding-bottom: 5rem;

  .header {
    background: var(--gray-blue-800);
    margin: 0 0 3rem 0;

    .logo {
      display: block;
      transform: translateY(.2rem);
    }
  }

  h3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;

    a {
      align-items: center;
      display: flex;
      font-size: 1rem;
      text-decoration: none;

      .icon {
        margin-left: .25rem;
      }
    }
  }

  .table {
    margin-top: 2rem;

    .pill {
      text-decoration: none;
    }
  }

  .card {
    margin: 2rem 0 0 0;

    h5 {
      margin: 0 0 1rem 0;
    }
  }

  .chart-wrapper {
    height: 250px;

    svg {
      overflow: visible;
    }
  }

  .users-table {
    .row {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .sites-table {
    .row {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .custom-tooltip {
    background: var(--gray-blue-800);
    border-radius: var(--border-radius-md);
    color: var(--gray-100);
    padding: 1rem;

    p {
      align-items: center;
      display: flex;
      margin: 0 0 .5rem 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
