.page.developers {
  .page-title {
    margin-bottom: 4rem;
  }

  .tabs {
    margin: 2rem 0 0 0;

    .code {
      margin-bottom: 0;
    }
  }

  .filename {
    align-items: center;
    display: flex;

    i {
      font-size: 1.25rem;
      margin-right: .5rem;
    }
  }

  .code-wrapper {
    position: relative;

    .copy {
      color: var(--gray-100);
      display: none;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    &:hover {
      .copy {
        display: flex;
      }
    }
  }
}
