.page.engineering {
  .blog {
    padding: 4rem 2rem;

    .date {
      font-size: 16px;
      margin: 0 0 .5rem 0;
    }

    h1 {
      font-size: 32px;
      line-height: 48px;
      margin: 0 0 2rem 0;

      @include breakpoint-md {
        font-size: 24px;
        line-height: 32px;
      }
    }

    p {
      font-size: 18px;
      line-height: 32px;
      margin: 0 0 2rem 0;
    }

    li {
      font-size: 18px;
      line-height: 32px;
      margin: 0 0 .5rem 0;
    }

    ol, ul {
      margin: 0;
      padding: 0 0 0 1.5rem;
    }

    .code-wrapper {
      .button {
        display: none;
      }
    }

    .signoff {
      margin: 2rem 0 0 0;

      p {
        margin: 0;
      }
    }
  }
}

