.page.features {  
  section {
    &:not(.insight) {
      padding: 6rem 2rem;
    }

    &:nth-of-type(odd) {
      background: var(--white);
    }

    h3 {
      margin: 0 0 1rem 0;

      & + p {
        margin: 0 0 5rem 0;
      }
    }
  }
}
