html, body {
  color: var(--body-color);
  font-family: 'Poppins', sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 64px;
  font-weight: var(--font-weight-bold);
  line-height: 72px;

  @include breakpoint-md {
    font-size: 48px;
    line-height: 64px;
  }
}

h2 {
  font-size: 48px;
  font-weight: var(--font-weight-semibold);
  line-height: 64px;

  @include breakpoint-md {
    font-size: 32px;
    line-height: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: var(--font-weight-semibold);
  line-height: 48px;

  @include breakpoint-md {
    font-size: 24px;
    line-height: 32px;
  }
}

h4 {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  line-height: 32px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}

h5 {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
}

h6 {
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;
}

p {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  margin: 0 0 2rem 0;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  color: var(--blue-500);
}

b {
  font-weight: var(--font-weight-semibold);
}

code, pre {
  color: var(--gray-blue-800);
  font-family: 'Monaco', 'Consolas', 'Courier New', monospace;
  font-size: 18px;
  line-height: 32px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}

.button {
  font: inherit;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 24px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}

.label {
  font-size: 18px;
  font-weight: var(--font-weight-semibold);
  line-height: 32px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}

.input,
.textarea {
  font: inherit;
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }


  &::placeholder {
    color: var(--gray-500);
    font-style: italic;
  }
}

.select select {
  font: inherit;
  font-size: 18px;
  line-height: 32px;

  @include breakpoint-md {
    font-size: 16px;
    line-height: 24px;
  }
}
