:root {
  // Colors
  --white: #ffffff;
  --gray-800: #222222;
  --gray-500: #707070;
  --gray-300: #A0A0A0;
  --gray-200: #BFBFBF;
  --gray-150: #D7D7D7;
  --gray-100: #F2F2F2;
  --gray-50: #F7F7F7;
  --blue-700: #004E96;
  --blue-500: #0768C1;
  --blue-300: #4097E8;
  --blue-50: #ECF6FF;
  --yellow-500: #FBC73B;
  --rose-500: #F96155;
  --rose-50: #FFEDDC;
  --green-500: #32D05F;
  --orange-500: #FA9116;
  --purple-500: #8249FB;
  --purple-50: #F4F0FF;
  --peach-500: #FFA574;
  --peach-400: #FDC4A0;
  --peach-300: #FFD2A8;
  --peach-200: #FFEDDC;
  --peach-100: #FFF5EB;
  --peach-50: #FCF8F1;
  --mauve-800: #572638;
  --mauve-700: #742A40;
  --mauve-500: #A14259; 
  --mauve-400: #AF687D;
  --gray-blue-900: #001125;
  --gray-blue-800: #001A39;
  --gray-blue-700: #032349;
  --gray-blue-600: #153B67;
  --gray-blue-500: #234977;
  --gray-blue-400: #22558E;
  --gray-blue-300: #617FA8;
  --gray-blue-200: #BACADF;
  --gray-blue-50: #E4EDFA;
  --light-blue-300: #B1E4FD;
  --marine-blue-700: #0046DC;

  // Fixed
  --body-color: #001A39;
  --sidebar-background: #001A39;

  // Modals
  --modal-background: rgba(255, 255, 255, 0.85);

  // Shadows
  --box-shadow-sm: 0 0 .5rem 0 rgba(0, 26, 57, .1);
  --box-shadow-md: 0 0 .125rem rgba(0, 26, 57, .25);
  --box-shadow-lg: 0 0 .75rem rgba(0, 0, 0, 0.15);
  --box-shadow-xl: 0 .25rem 1rem rgba(0, 0, 0, 0.15);

  // Font weights
  --font-weight-block: 600;
  --font-weight-bold: 500;
  --font-weight-normal: 400;

  // Borders
  --border-radius-x-sm: .125rem;
  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 2rem;
  --border-radius-c: 50%;
  --border-radius-o: 100%;
}
