.page.feedback {
  .product-header {
    .background {
      background-image: url('../../../../public/illustrations/illustration-6.svg');
    }

    @include breakpoint-md {
      .background {
        background-image: none;
      }
    }
  }

  section {
    &.glance {
      background-color: var(--gray-blue-50);
      background-image: url('../../../../public/backgrounds/squiggle-light-blue.svg');
      background-repeat: no-repeat;
      padding: 8rem 4rem;

      .items {
        .item {
          &.show {
            background: var(--gray-blue-100);

            @include breakpoint-sm {
              background: transparent;
            }
          }

          .body {
            p {
              color: var(--gray-blue-600);
            }
          }
        }

        .button {
          color: var(--gray-blue-800);

          .icon {
            &:first-of-type {
              color: var(--blue-700);
            }

            &:last-of-type {
              color: var(--gray-blue-800);
            }
          }
        }
      }

      h2 {
        color: var(--gray-blue-800);
        margin: 0 0 8rem 0;
        text-align: center;
      }

      @include breakpoint-md {
        padding: 6rem 3rem;

        h2 {
          margin: 0 0 6rem 0;
        }
      }

      @include breakpoint-sm {
        background-image: none;
        padding: 4rem 2rem;

        h2 {
          margin: 0 0 4rem 0;
        }
      }
    }

    &.testimonial {
      background-color: var(--gray-blue-800);
      background-image: url('../../../../public/backgrounds/product-7.svg');
      background-position: top left;
      background-repeat: repeat-x;
      padding: 10rem 3rem 6rem 3rem;

      @include breakpoint-sm {
        padding: 8rem 2rem 6rem 2rem;
      }
    }

    &.pair {
      background-color: var(--mauve-700);
      background-image: url('../../../../public/backgrounds/product-8.svg');
      background-position: bottom left;
      background-repeat: repeat-x;
      padding: 6rem 4rem;

      h3 {
        color: var(--white);
        margin: 0 0 6rem 0;
        position: relative;

        &:after {
          background: var(--yellow-500);
          content: ' ';
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          top: calc(100% + 1rem);
          width: 25%;
        }
      }

      .features-grid {
        .icon {
          color: var(--yellow-500);
        }
        
        p {
          color: var(--peach-100);

          b {
            color: var(--white);
          }
        }
      }

      .features-banner {
        margin: 6rem 0;
      }

      @include breakpoint-sm {
        padding: 4rem 2rem;
      }
    }

    &.tools {
      background-color: var(--white);
      background-image: url('../../../../public/backgrounds/product-9.svg');
      background-position: bottom left;
      background-repeat: repeat-x;
      padding: 6rem 5rem 10rem 5rem;

      @include breakpoint-md {
        padding: 6rem 3rem 10rem 3rem;
      }

      @include breakpoint-sm {
        padding: 4rem 2rem 8rem 2rem;
      }
    }

    &.easy {
      background-color: var(--gray-blue-700);
      padding: 6rem 5rem;


      h3 {
        background: var(--white);
      }

      .subheading {
        color: var(--gray-blue-200);
      }

      .dashes {
        border-color: var(--gray-blue-50);
      }

      .step-item {
        &:first-of-type {
          background-image: linear-gradient(90deg, var(--gray-blue-700) 50%, rgba(116, 42, 64, 0) 50%);
        }

        &:last-of-type {
          background-image: linear-gradient(90deg, rgba(116, 42, 64, 0) 50%, var(--gray-blue-700) 50%);
        }
      }

      @include breakpoint-md {
        padding: 4rem 3rem;
      }

      @include breakpoint-sm {
        padding: 4rem 2rem;

        .step-item {
          &:first-of-type {
            background-image: none;
          }
      
          &:last-of-type {
            background-color: var(--gray-blue-700);
            background-image: none;
          }
        }
      }
    }

    &.compatibility {
      background-color: var(--gray-blue-50);
      padding: 8rem 5rem;

      a {
        color: var(--marine-blue-700);
      }

      @include breakpoint-md {
        padding: 8rem 3rem;
      }

      @include breakpoint-sm {
        padding: 4rem 2rem;
      }
    }
  }
}
