.page.sites.visitor {
  .visitor-view {
    .title {
      margin-bottom: 2rem;

      i {
        color: var(--gray-500);
        margin-right: .5rem;
      }

      .delete-visitor {
        align-items: center;
        background: none;
        border: none;
        border-radius: var(--border-radius-o);
        display: flex;
        justify-content: center;
        height: 2rem;
        margin-left: .75rem;
        width: 2rem;

        i {
          color: var(--rose-500);
          font-size: 1.25rem;
          margin: 0;
        }

        span {
          display: none;
        }

        &:hover {
          background: var(--gray-100);
        }
      }
    }
    
    .recordings-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 2rem 0 1.5rem 0;

      h5 {
        margin: 0;
      }

      menu {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
      }

      .dropdown-menu {
        left: auto;
        right: 0;
        top: calc(100% + .5rem);
        transform: none;
      }

      .dropdown {
        & > .button {
          background: none;
          border: none;
          border-radius: var(--border-radius-md);
          font-weight: var(--font-weight-bold);
          height: 40px;
          margin-left: .5rem;
          padding: 0 1rem;
  
          &:hover {
            background: var(--gray-100);
          }
  
          i {
            position: static;
  
            &:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }
          }
        }
      }

      .tooltip {
        cursor: default;
        opacity: .25;
      }

      .columns {
        @include breakpoint-md {
          display: none;
        }

        .dropdown-menu {
          width: 240px;
        }

        .filters-columns {
          padding: 1rem;

          .checkbox {
            margin-bottom: .5rem;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .label {
            .link {
              color: var(--blue-500);
              margin-left: .25rem;
              vertical-align: middle;
            }
          }
        }
      }

      .dropdown-menu {
        width: 210px;

        & > .button {
          color: var(--body-color);
          height: 40px;
          margin-left: 0;
          padding: 0 .5rem;
          text-align: left;

          &.open {
            background: var(--gray-100);
          }

          i {
            color: var(--body-color);
            font-size: 1.5rem;
          }
        }

        .popout {
          background: var(--white);
          border-radius: var(--border-radius-md);
          box-shadow: var(--box-shadow-sm);
          display: none;
          padding: 1.5rem;
          position: absolute;
          right: 220px;
          top: 0;

          &.open {
            display: block;
          }

          .actions {
            display: flex;

            .button {
              margin-left: 0;
              margin-right: 1rem;
            }
          }
        }
      }      

      .bulk-actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        @include breakpoint-md {
          display: none;
        }
    
        .dropdown {
          & > .button {
            background: none;
            border: none;
            border-radius: var(--border-radius-md);
            padding: .5rem 1rem .5rem 1rem;
    
            i:not(.arrow) {
              color: var(--blue-500);
              font-size: 1.25rem;
              margin-right: .5rem;
            }

            &:hover {
              background: var(--gray-100);
            }
    
            .arrow {
              right: .5rem;
              top: .5rem;
            }
          }
    
          &.open {
            & > .button {
              background: var(--gray-100);
            }
          }
        }
      }
    }

    .summary {
      font-size: 13px;
      line-height: 20px;
      margin: 2rem 0;
      padding: 2rem;

      .summary-data {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas: 'linked default';
        grid-template-columns: repeat(2, 1fr);

        @include breakpoint-lg {
          grid-template-areas: 'linked'
                               'default';
          grid-template-columns: 1fr;
        }

        .linked {
          background: var(--gray-50);
          border-radius: var(--border-radius-md);
          grid-area: linked;
          padding: 2rem;

          .heading {
            align-items: center;
            display: flex;
            font-weight: var(--font-weight-bold);

            i {
              color: var(--blue-500);
              font-size: 18px;
              font-weight: var(--font-weight-normal);
              margin-right: .5rem;
            }
          }

          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .flag {
          margin-right: 0;
        }

        .default {
          grid-area: default;
          margin-top: .5rem;
        }

        .attributes {
          margin-top: 1.5rem;
        }

        .row {
          display: flex;
          justify-content: space-between;
          height: 1rem;
          margin: 0 0 1rem 0;

          &:last-of-type {
            margin-bottom: 0;
          }

          dt {
            font-weight: var(--font-weight-bold);
          }

          dd {
            align-items: center;
            display: flex;
          }

          .pill {
            display: inline-block;
            margin-left: .5rem;
            width: 70px;
          }

          .device {
            font-size: 20px;
          }

          .browser {
            display: inline-block;
            height: 1.25rem;
            margin-right: .5rem;
          }
        }

        .tooltip {
          .button {
            color: var(--blue-500);
            font-size: 13px;
            line-height: 20px;
            text-decoration: underline;
          }
        }
      }
    }

    .visitor-highlights {
      display: grid;
      grid-gap: 2rem;
      grid-template-areas: 'recordings pageviews';
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 2rem;

      @include breakpoint-md {
        grid-gap: 1.5rem;
        grid-template-areas: 'recordings'
                             'pageviews';
        grid-template-columns: repeat(1, 1fr);
      }

      .card {
        h2 {
          align-items: center;
          color: var(--blue-500);
          display: flex;
          font-size: 48px;
          line-height: 64px;
          margin: 0;
        }

        h5 {
          margin: 0 0 1.5rem 0;
        }

        .pill {
          margin-left: 1rem;
          padding: .25rem .75rem;
        }

        &.recordings {
          grid-area: recordings;
        }

        &.page-views {
          grid-area: pageviews;
        }
      }
    }

    .visitor-recordings-table {
      margin-bottom: 2rem;

      .row {
        grid-template-columns: 58px 105px 165px 1fr 1fr 1fr 1fr 2fr 1fr 90px 70px;
      }
    }

    .no-visitor-recordings {
      background: var(--white);
      border: 1px solid var(--gray-150);
      border-radius: var(--border-radius-md);
      padding: 4rem;
      text-align: center;

      h4 {
        margin: 2rem 0 0 0;
      }
    }

    .stats {
      display: grid;
      grid-gap: 2rem;
      grid-template-areas: 'session-duration per-session';
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: 2rem;

      @include breakpoint-lg {
        grid-gap: 2rem;
        grid-template-areas: 'session-duration'
                             'per-session';
        grid-template-columns: minmax(0, 1fr);
      }

      .card {
        h2 {
          align-items: center;
          color: var(--blue-500);
          display: flex;
          font-size: 48px;
          line-height: 64px;
          margin: 0;
        }

        h5 {
          margin: 0 0 1.5rem 0;
        }

        .pill {
          margin-left: 1rem;
          padding: .25rem .75rem;
        }

        &.session-duration {
          grid-area: session-duration;
        }

        &.per-session {
          grid-area: per-session;
        }
      }
    }

    .visitor-pages-table {
      margin-bottom: 2rem;
      
      .row {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.bulk-action-hint {
  white-space: pre-wrap;
}
