.page.auth.login {
  background-color: var(--gray-blue-800);
  background-image: url('../../../../public/squiggle.svg');
  background-repeat: repeat-y;
  background-size: 423px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem;
  width: 100vw;

  @include breakpoint-md {
    background-image: none;
    display: block;
    height: auto;
    min-height: 100vh;
    padding: 3rem 2rem;
    width: 100%;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .center {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
  }

  .card {
    box-shadow: none;
    flex-shrink: 0;
    padding: 4rem;

    @include breakpoint-md {
      margin: 2rem 0;
      padding: 2rem;
    }

    .logo {
      display: flex;
      justify-content: center;
      margin: 0 0 2rem 0;

      @include breakpoint-md {
        margin: 2rem auto;
        width: 150px;
      }
    }
  
    h2 {
      font-size: 24px;
      font-weight: var(--font-weight-bold);
      line-height: 32px;
      margin: 0 0 1.5rem 0;
    }

    .button {
      width: 100%;
    }

    .reconfirm-message {
      margin-bottom: 2rem;

      .email {
        color: var(--blue-500);
      }
    }
  }

  .footer-link {
    p {
      color: var(--gray-blue-50);
      margin: 0;
      text-align: center;
    }
  }
}