.page.auth.signup {
  background-color: var(--gray-blue-800);
  background-image: url('../../../../public/squiggle.svg');
  background-repeat: repeat-y;
  background-size: 423px 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem;
  width: 100vw;

  @include breakpoint-md {
    background-image: none;
    display: block;
    height: auto;
    min-height: 100vh;
    padding: 3rem 2rem;
    width: 100%;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .container {
    align-items: center;
    display: flex;

    @include breakpoint-md {
      flex-direction: column;
    }
  }

  .center {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
  }

  main {
    width: 50%;

    @include breakpoint-md {
      width: 100%;
    }
  }

  .card {
    box-shadow: none;
    flex-shrink: 0;
    padding: 4rem;

    @include breakpoint-md {
      margin: 2rem 0;
      padding: 2rem;
      width: 100%;
    }

    .logo {
      display: flex;
      justify-content: center;
      margin: 0 0 2rem 0;

      @include breakpoint-md {
        margin: 2rem auto;
        width: 150px;
      }
    }
  
    h2 {
      font-size: 24px;
      font-weight: var(--font-weight-bold);
      line-height: 32px;
      margin: 0 0 1.5rem 0;
    }

    .button {
      width: 100%;
    }
  }

  aside {
    align-self: center;
    color: var(--gray-blue-50);
    margin-left: 6rem;
    width: 50%;

    @include breakpoint-md {
      width: 100%;
    }

    h2 {
      margin: 0 0 1.5rem 0;
    }

    ol {
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0 0 1rem 0;

        span {
          align-items: center;
          border: 1px solid var(--blue-300);
          border-radius: var(--border-radius-o);
          color: var(--blue-300);
          display: flex;
          height: 1.5rem;
          flex-shrink: 0;
          justify-content: center;
          margin-right: .5rem;
          width: 1.5rem;
        }
      }
    }

    .highlight {
      align-items: center;
      background: var(--gray-blue-700);
      border-radius: var(--border-radius-md);
      display: inline-flex;
      margin: 2rem 0 0 0;
      padding: 1.5rem;

      p {
        font-weight: var(--font-weight-bold);
        margin: 0;
      }

      i {
        color: var(--yellow-500);
        font-size: 1.25rem;
        margin-right: .75rem;
      }
    }

    @include breakpoint-md {
      margin: 0 0 2rem 0;
    }
  }

  .email-taken {
    .button {
      display: inline-block;
      text-align: center;
      width: 100%;

      &.primary {
        margin-bottom: 1rem;
      }
    }
  }

  .verify {
    .check {
      align-items: center;
      border: 2px solid var(--green-500);
      border-radius: var(--border-radius-o);
      display: flex;
      height: 4rem;
      justify-content: center;
      margin: 0 auto 2rem auto;
      width: 4rem;

      i {
        color: var(--green-500);
        display: block;
        font-size: 2rem;
      }
    }

    h4 {
      text-align: center;
      margin: .5rem 0 2rem 0;
    }
  }

  .footer-link {
    p {
      color: var(--gray-blue-50);
      margin: 0;
      text-align: center;
    }
  }
}