.page.auth.signup {
  background-color: var(--gray-blue-800);
  background-image: url('../../../../public/backgrounds/squiggle-blue-horizontal.svg');
  background-repeat: repeat-y;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding: 4rem;
  width: 100vw;

  .header,
  .footer,
  .header-strip {
    display: none;
  }

  @include breakpoint-md {
    background-image: none;
    display: block;
    height: auto;
    min-height: 100vh;
    padding: 3rem 2rem;
    width: 100%;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .container {
    align-items: center;
    display: flex;

    @include breakpoint-md {
      flex-direction: column;
    }
  }

  .center {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
  }

  main {
    width: 50%;

    @include breakpoint-md {
      width: 100%;
    }
  }

  .card {
    box-shadow: none;
    flex-shrink: 0;
    padding: 4rem;

    @include breakpoint-md {
      margin: 2rem 0;
      padding: 2rem;
      width: 100%;
    }

    .logo {
      display: flex;
      justify-content: center;
      margin: 0 0 2rem 0;

      @include breakpoint-md {
        margin: 2rem auto;
        width: 150px;
      }
    }
  
    h1 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 1.5rem 0;
    }

    .button {
      width: 100%;
    }
  }

  aside {
    align-self: center;
    color: var(--gray-blue-50);
    margin-left: 6rem;
    width: 50%;

    @include breakpoint-md {
      width: 100%;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 1.5rem 0;
    }

    ol {
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0 0 1rem 0;

        span {
          align-items: center;
          border: 1px solid var(--blue-300);
          border-radius: var(--border-radius-o);
          color: var(--blue-300);
          display: flex;
          height: 1.5rem;
          flex-shrink: 0;
          justify-content: center;
          margin-right: .5rem;
          width: 1.5rem;
        }
      }
    }

    .highlight {
      align-items: center;
      background: var(--gray-blue-700);
      border-radius: var(--border-radius-md);
      display: inline-flex;
      margin: 2rem 0 0 0;
      padding: 1.5rem;

      p {
        font-weight: var(--font-weight-semibold);
        margin: 0;
      }

      i {
        color: var(--yellow-500);
        font-size: 1.25rem;
        margin-right: .75rem;
      }
    }

    @include breakpoint-md {
      margin: 0 0 2rem 0;
    }
  }

  .email-taken {
    .button {
      display: inline-block;
      text-align: center;
      width: 100%;

      &.primary {
        margin-bottom: 1rem;
      }
    }
  }

  .verify {
    .check {
      align-items: center;
      border: 2px solid var(--green-500);
      border-radius: var(--border-radius-o);
      display: flex;
      height: 4rem;
      justify-content: center;
      margin: 0 auto 2rem auto;
      width: 4rem;

      i {
        color: var(--green-500);
        display: block;
        font-size: 2rem;
      }
    }

    h4 {
      text-align: center;
      margin: .5rem 0 2rem 0;
    }
  }

  .footer-link {
    text-align: center;

    p {
      color: var(--gray-blue-50);
      margin: 0;
      text-align: center;
    }
  }

  &.partner-signup {
    background-color: var(--mauve-800);
    background-image: url('../../../../public/backgrounds/squiggle-mauve-horizontal.svg');

    @include breakpoint-md {
      background-image: none;

      .footer-link {
        p {
          text-align: left;
        }
      }
    }

    aside {
      h2 {
        font-size: 48px;
        line-height: 64px;

        @include breakpoint-md {
          font-size: 24px;
          line-height: 32px;
        }
      }

      ol {
        li {
          span {
            border: 1px solid var(--rose-500);
            color: var(--peach-300);
          }
        }
      }
    }

    .partner-footer {
      background: var(--mauve-900);
      border-radius: var(--border-radius-md);
      display: inline-block;
      padding: 1.5rem;
      position: relative;

      p, .button {
        color: var(--peach-200);
        font-size: 14px;
        line-height: 20px;

        @include breakpoint-md {
          text-align: left;
        }

        span {
          color: var(--white);
          font-weight: var(--font-weight-semibold);
        }
      }

      .button {
        color: var(--peach-500);
        text-decoration: underline;
      }

      .partner-benefits {
        background: var(--mauve-900);
        border-radius: var(--border-radius-md);
        bottom: 0;
        display: none;
        left: 0;
        padding: 1.5rem;
        position: absolute;
        text-align: left;
        width: 100%;

        &.open {
          display: block;
        }

        p {
          color: var(--white);
          margin: 0 0 1.5rem 0;
          padding: 0 2rem 0 0;
          text-align: left;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            color: var(--peach-100);
            font-size: 14px;
            line-height: 20px;
            list-style: none;
            margin: 0 0 .75rem 0;

            &:last-of-type {
              margin: 0;
            }

            .icon {
              color: var(--yellow-500);
              font-size: 24px;
              vertical-align: middle;
            }
          }
        }

        .close {
          background: none;
          border: none;
          color: var(--peach-400);
          font-size: 24px;
          margin: 0;
          padding: 0;
          position: absolute;
          right: 1.5rem;
          text-decoration: none;
          top: 1.5rem;
        }
      }
    }
  }
}