.page.users.new {
  flex: 1;

  .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1.5rem 0;
  }

  .signout {
    align-items: center;
    display: flex;
    font-weight: var(--font-weight-bold);

    i {
      font-size: 1.25rem;
    }
  }

  .intro {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .image {
      flex-shrink: 0;

      @include breakpoint-md {
        display: none;
      }
    }

    p {
      margin: 0 1rem 0 0;

      @include breakpoint-md {
        margin: 0;
      }
    }
  }
}