.page.users.preferences {
  .email-options {
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid var(--gray-150);
      list-style: none;
      padding: 1.5rem 0;

      p {
        color: var(--gray-500);
        margin: 0;
      }

      .toggle {
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin: 0 0 1.5rem 0;

        span {
          margin: 0;
        }
      }
    }
  }
}
