.page.blog {
  background: var(--peach-200);

  .page-title {
    background-color: var(--mauve-700);

    h1 {
      color: var(--white);
    }

    p {
      color: var(--peach-100);
    }
  }

  .posts {
    display: flex;
    padding: 4rem 2rem;

    @include breakpoint-md {
      flex-direction: column-reverse;
      padding: 2rem;
    }

    main {
      flex: 1;
      margin: 0 3rem 0 0;

      @include breakpoint-md {
        margin: 0;
      }

      .card {
        border-radius: var(--border-radius-md);
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.15);
        margin: 0 0 1.5rem 0;
        overflow: hidden;
        padding: 0;

        a {
          color: var(--gray-blue-700);
          display: grid;
          grid-template-columns: 320px 1fr;
          text-decoration: none;

          .image {
            flex-shrink: 0;
            font-size: 0;

            img {
              height: 100%;
              object-fit: cover;
              position: relative;
              width: 320px;
            }
          }

          .content {
            padding: 3rem;


            @include breakpoint-md {
              height: auto;
              padding: 2rem;
            }

            .overflow {
              height: 100%;
              overflow: hidden;
              width: 100%;
            }

            h4 {
              color: var(--gray-blue-800);
              margin: 0 0 1rem 0;
            }

            .divider {
              background: var(--gray-blue-300);
              display: inline-block;
              height: 1.25rem;
              margin: 0 1rem;
              width: 1px;
            }

            .blog-author {
              background: var(--gray-200);
              border-radius: var(--border-radius-o);
              display: inline-block;
              flex-shrink: 0;
              height: 1.5rem;
              margin: 0 .5rem 0 0;
              overflow: hidden;
              width: 1.5rem;
            }

            .meta {
              align-items: center;
              display: flex;
              font-size: 16px;
              line-height: 24px;
              margin: 0 0 1.5rem 0;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;

              span {
                align-items: center;
                display: flex;
              }
      
              b {
                margin-left: .25rem;
              }
      
              @include breakpoint-sm {
                align-items: flex-start;
                flex-direction: column;
                margin: 0 0 2rem 0;
                white-space: normal;
      
                .divider {
                  display: none;
      
                  + span {
                    margin: 0 0 0 2rem;
                  }
                }
              }
            }

            .draft {
              color: var(--mauve-700);

              &:hover {
                text-decoration: underline;
              }
            }

            .description {
              margin: 0;
            }
          }

          @include breakpoint-md {
            grid-template-columns: minmax(0, 1fr);

            .image {
              width: 100%;

              img {
                width: 100%;
              }
            }
          }
        }

        &:hover {
          border: 1px solid var(--mauve-700);
          margin: -1px -1px calc(1.5rem - 1px) -1px;

          h4 {
            text-decoration: underline;
          }
        }
      }
    }

    aside {
      width: 25rem;

      @include breakpoint-md {
        margin: 0 0 2rem 0;
        width: 100%;
      }

      .sidebar {
        background: var(--peach-100);
        border-radius: var(--border-radius-md);
        padding: 3rem;

        @include breakpoint-md {
          padding: 2rem;
        }

        h4 {
          margin: 0 0 1.5rem 0;
        }

        .categories {
          margin: 0 0 2.5rem 0;

          a {
            color: var(--mauve-700);
            display: block;
            font-size: 18px;
            line-height: 32px;
            margin: 0 0 .25rem 0;
            text-decoration: underline;

            &.selected {
              color: var(--gray-blue-800);
              text-decoration: none;
            }
          }
        }

        .tags {
          .tag {
            background: var(--white);
            border: 1px solid var(--white);
            border-radius: var(--border-radius-sm);
            color: var(--gray-blue-800);
            font-size: 16px;
            line-height: 32px;
            padding: 0 .5rem;
            text-decoration: none;

            &:hover {
              border-color: var(--mauve-700);
            }

            &.selected {
              border-color: var(--mauve-700);
              color: var(--mauve-700);
            }
          }
        }
      }
    }
  }

  .get-started {
    background-color: var(--gray-blue-700);
    padding: 6rem 6rem 0 6rem;

    h3 {
      max-width: 30rem;
    }

    @include breakpoint-md {
      display: none;
    }
  }
}
