.page.sites {
  flex: 1;

  .welcome {
    align-items: center;
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    width: 100%;

    &.welcome {
      height: 100%;
    }

    .contents {
      margin-top: -80px;
      text-align: center;
      width: 720px;

      h2 {
        margin: 5rem 0 2rem 0;
      }

      p {
        margin: 0 auto 2rem auto;
        max-width: 520px;
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin: 2rem 0;

    .new-site {
      background: transparent;
      border: none;
      color: var(--blue-500);
      margin-left: 1rem;
      font-size: 16px;
      font-weight: var(--font-weight-normal);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    
    @include breakpoint-md {
      justify-content: space-between;
    }
  }

  .sites-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        align-items: center;
        background: var(--white);
        border: 1px solid var(--white);
        border-radius: var(--border-radius-md);
        box-shadow: var(--box-shadow-md);
        color: var(--body-color);
        display: flex;
        height: 76px;
        margin-bottom: .75rem;
        padding: 1.5rem;
        position: relative;
        text-decoration: none;

        &:hover {
          border-color: var(--blue-500);
        }

        &:focus {
          outline-offset: 2px;
        }

        @include breakpoint-md {
          align-items: flex-start;
          flex-direction: column;
          height: auto;
          padding-left: 5rem;
        }
      }

      .avatar {
        flex-shrink: 0;
        margin-right: .75rem;

        @include breakpoint-md {
          left: 1.5rem;
          position: absolute;
        }
      }

      p {
        flex: 1;
        margin: 0;
        overflow: hidden;
        padding-right: 1.5rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        @include breakpoint-md {
          margin-bottom: .5rem;
        }
      }
      
      .pill {
        margin-left: .75rem;
        vertical-align: middle;
      }

      .url {
        color: var(--gray-500);

        @include breakpoint-md {
          margin-bottom: .25rem;
        }
      }
    }
  }
}
