.empty-state {
  align-items: center;
  display: none;
  flex: 1;
  flex-direction: column;
  height: calc(100% - 11rem);
  width: 100%;

  @include breakpoint-md {
    height: auto;
  }

  .empty-state-contents {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 0;
    width: 100%;

    h4 {
      margin: 3rem 0;
    }

    .message {
      max-width: 580px;
    }
  }

  &.show {
    display: flex;
  }

  &.no-results {
    h4 {
      max-width: 28rem;
      text-align: center;
    }
  }
}
