.empty-state-hint {
  background: var(--white);
  border: 2px solid var(--blue-500);
  border-radius: var(--border-radius-md);
  padding: 2rem;
  width: 560px;

  p {
    &.empty-state-heading {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 0 1.5rem 0;

      i {
        color: var(--blue-500);
        font-size: 1.25rem;
        margin-right: .75rem;
      }
    }

    span {
      align-items: center;
      display: flex;

      @include breakpoint-md {
        align-items: flex-start;
        width: 100%;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .video {
      align-items: center;
      background: var(--blue-50);
      border: none;
      border-radius: var(--border-radius-md);
      color: var(--blue-500);
      display: flex;
      font-size: 13px;
      height: 2.5rem;
      line-height: 20px;
      padding: 0 1rem;

      i {
        font-size: 16px;
      }

      @include breakpoint-md {
        justify-content: center;
        margin: 1.5rem 0 0 0;
        width: 100%;
      }
    }

    @include breakpoint-md {
      flex-direction: column;
    }
  }

  @include breakpoint-md {
    width: 100%;
  }
}
