.note {
  border-top: 2px solid var(--gray-100);
  padding: 1.5rem 0;

  &:last-of-type {
    border-bottom: 2px solid var(--gray-100);
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .no-timestamp {
      color: var(--gray-200);
      font-size: 13px;
      line-height: 20px;
    }

    .dropdown {
      .arrow {
        display: none;
      }

      .dropdown-menu {
        left: 100%;
        top: calc(100% + 1rem);
        width: 100px;

        .button {
          padding: 0.5rem 0.75rem;
        }
      }
    }

    .button {
      background: none;
      border: none;
      padding: 0;

      &.timestamp {
        color: var(--blue-500);
        font-size: 13px;
        font-weight: var(--font-weight-normal);
        line-height: 20px;
        text-decoration: underline;
      }

      &.kebab {
        font-size: 1.25rem;
      }
    }
  }

  .user {
    align-items: center;
    display: flex;
    margin-bottom: 0;

    i {
      margin-right: .25rem;
    }

    span {
      color: var(--gray-500);
      font-size: 13px;
      line-height: 20px;
    }
  }
}
