#player {
  align-items: center;
  cursor: default;
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  max-height: calc(100% - 10rem);
  padding: 1.5rem;
  pointer-events: none;
  width: 100%;

  iframe {
    background: var(--white);
    border: 1px solid var(--gray-150);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    transform-origin: center center;
  }

  .player-container {
    border-radius: var(--border-radius-md);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .replayer-mouse {
    background: var(--rose-500);
    border-radius: var(--border-radius-lg);
    height: 1.5rem;
    transform: translate(-.75rem, -.75rem);
    width: 1.5rem;

    &:after {
      display: none;
    }
  }

  .buffering {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    i {
      color: var(--white);
    }
  }
}
