.recording-row {
  .bookmark {
    background: none;
    border: none;
    color: var(--gray-150);
    display: inline-block;
    font-size: 1.25rem;
    margin-right: .5rem;
    padding: 0;
    vertical-align: middle;

    &:hover {
      color: var(--gray-blue-700);
    }

    &.active {
      color: var(--purple-500);
    }
  }

  .pill {
    display: inline-block;
    width: 70px;
  }

  .browser, 
  .browser-tooltip {
    display: block;
    height: 1.5rem;
  }

  .direct {
    color: var(--gray-500);
  }

  .emoji {
    align-items: center;
    display: flex;
  }

  .flag {
    pointer-events: none;
  }

  .nps-score {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    line-height: 20px;
    margin: 0;

    &.blue {
      color: var(--blue-500);
    }

    &.rose {
      color: var(--rose-500);
    }

    &.purple {
      color: var(--purple-500);
    }
  }

  .referrer {
    width: 100%;

    .button {
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: hidden;
      width: 100%;
    }
  }

  .start-exit-page {
    .item {
      display: flex;
      margin-bottom: .25rem;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      div {
        &:first-of-type {
          color: var(--gray-200);
          margin-right: .5rem;
          width: 70px;
        }

        &:last-of-type {
          width: calc(100% - 78px);
          
          .tooltip {
            width: 100%;

            .button {
              line-height: 20px;
              overflow: hidden;
              text-align: left;
              text-overflow: ellipsis;
              width: 100%;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .dropdown {
    .options {
      align-items: center;
      background: none;
      border: none;
      border-radius: var(--border-radius-o);
      display: flex;
      height: 2rem;
      flex-shrink: 0;
      font-size: 1.25rem;
      justify-content: center;
      padding: 0;
      width: 2rem;

      .arrow {
        display: none;
      }

      &:hover {
        background: var(--gray-100);
        color: var(--blue-500);
      }
    }

    .dropdown-menu {
      z-index: 2;

      .button {
        background: none;
        border: none;

        i {
          color: var(--blue-500);
          font-size: 1.25rem;
          margin-right: .5rem;
        }

        &:hover {
          background: var(--gray-100);
        }
      }
    }
  }

  .visitor-starred {
    font-size: 1.25rem;
  }
}
